{% with "Year" as name %}
{% with years as iterable %}
{% include "left_filter_snippet.html" %}
{% endwith %}
{% endwith %}

{% with "Month" as name %}
{% with months as iterable %}
{% include "left_filter_snippet.html" %}
{% endwith %}
{% endwith %}

{% with "Topic" as name %}
{% with topics as iterable %}
{% include "left_filter_snippet.html" %}
{% endwith %}
{% endwith %}

{% with "Collection" as name %}
{% with collections as iterable %}
{% include "left_filter_snippet.html" %}
{% endwith %}
{% endwith %}
