<div class="share">
<div>
<!-- Google +1 button -->
<script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
<g:plusone size="standard" count="true" href="{{canonical_url}}"></g:plusone>
</div>
<div>
<!-- Share on twitter -->
<a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="nprfreshair">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
</div>
<div>
<!-- facebook -->
<script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script>
<fb:like url="{{canonical_url}}" layout="button_count" send=true></fb:like>
</div>
</div>