{namespace billnapier.npr_fresh_air}

/**
 * Says hello to the world.
 */
{template .helloWorld}
  Hello world!
{literal}
<script type="text/javascript">
goog.require('goog.dom')
{/literal}
</script>
{/template}